node_modules
.next
out
.env.local
.env*.local
*.tsbuildinfo
next-env.d.ts
outputs/
__pycache__/
*.pyc
.DS_Store
*.pkl
.vercel

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
